.App {
    text-align: center;
    height: 100vh;
    background-color: #1a1a1a;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
    font-size: 16px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
